body
  {
    margin: 4px;
    background-color: #E9E9E9;
    font-family: verdana;
  }
  
.wrapAdd
  {
    display: inline-table;
    float: left;
    margin: 22px;
    padding: 8px;
    width: 500px;
    font-size: 13pt;
    border: 1px solid gray;
  }
  
.wrapView
  {
    display: inline-table;
    float: left;
    margin: 22px;
    padding: 4px;
    width: 600px;
    font-size: 11pt;
    border: 1px solid gray;
  }
  
input, select
  {
    font-size: 13pt;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
  }
  
  
.post
  {
    display: inline-table;
    width: 247px;
    border: 1px solid white;
    background-color: #D7D7D7;
    padding 4px;
  }